body {
  margin: 0;
  padding: 0;
  background-color: #891e11; /* Fondo rojo vino */
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px;
}

.imagen img {
  max-width: 470px;
  height: auto;
}

.contenido {
  max-width: 400px;
}

.contenido h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: px;
}

.contenido p {
  color: #e0cfcf;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.contenido button {
  background-color: #fad674;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.contenido button:hover {
  background-color: #ebbb42;
}
