body {
    background-image: url('../src/img/ia\ imagen\ caballo.png'); /* Ajusta el nombre del archivo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  